# Editor files
*.sublime-*
.vscode/
.idea/
*.xcodeproj

# Python output files
*.pyc
__pycache__
*.egg-info
build/
dist/

# OS specific files
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
$RECYCLE.BIN/

# Misc
local/*
*.log
*.orig
.hg/*
